<a href="https://colab.research.google.com/github/AbhinandanGautam/ML/blob/main/ML_Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loops in Python

In [19]:
for x in range(1,11):
    print("2 *",x,"=",2*x)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [5]:
a = ["Abhi", "nan", "dan"]
name = ""
for i in a:
  name += i

print(name)

Abhinandan

In [6]:
a = "Welcome To NIT Jalandhar"
for i in a:
  print(i,end="")

Welcome To NIT Jalandhar

In [8]:
n = 5

while n>=0:
    print(n, end=' ')
    n -= 1

5 4 3 2 1 0

Functions in Python

In [14]:
def greet(name):
    print('Good Morning, ',name)

greet(input())

Abhinandan
Good Morning,  Abhinandan

In [15]:
def sum_of_list(a):
    return sum(a) #sum in built-in function in python

m = [1,2,3,4]
print(sum_of_list(m))

10

In [18]:
def product_of_list(a):
  res = 1
  for i in a:
    res *= i
  return res

m = [1,2,3,4]
print(product_of_list(m))

24